body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}


.navbar {
  display: flex;
  flex-wrap: wrap;
}
.reserviaLogo {
  width: 95px;
  height: 60px;
  margin-left: 20px;
  margin-top: 30px;
}

.signup-link {
  font-size: 20px;
  font-weight: bold;

  text-decoration: none;

  color: #0065fc;
  padding-top: 15px;
  margin-right: 20px;
  margin-top: 35px;
}

.spacer {
  content: "";
  flex-grow: 1;
}

.first-list {
  width: 100%;
  display: flex;

  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-top: 40px;

  color: #0065fc;
}

.hebergement-list {
  display: flex;
  align-items: stretch;
  font-size: 20px;
  flex-grow: 1;
  text-align: center;
  
  
  margin-top: 0px;
}


.hebergement-link {
  text-decoration: none;
  
  color: #000000;
  padding-bottom: 10px;
  flex-grow: 1;
  border-bottom: 3px solid #f2f2f2;
}
.hebergement-link:hover {
  border-color:  #0065fc;
  color: #0065fc;
  text-decoration: none;
}

.title-header {
  font-weight: bolder;
  width: 100%;
  margin-right: 65px;
  margin-left: 20px;
  font-size: 30px;
  margin-top: 40px;
}

.p-header {
  width: 100%;
  margin-right: 65px;
  margin-left: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.searchbar {
  display: flex;
  width: 95%;
  height: 50px;
  margin-left: 20px;
  margin-right: 10px;
  border: solid 1px #f2f2f2;
  margin-top: 40px;
  margin-bottom: 36px;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
}
.localisation-icon {
  background-color: #f2f2f2;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
}

.btn-search {
  background-color: #0065fc;
  border-radius: 15px 15px 15px 15px;
  border: 0px;
  width: 50px;
  
}

.fa-search {
  color: white;
  padding: 0px;
}

.search-imput {
  border: 0px;

  font-weight: bolder;
  font-size: 25px;
  display: flex;
  flex-grow: 2;
  text-align: center;
}

.filter-list {
  list-style: none;
  margin-left: 0;
}


.filter-text{
  padding: 12px;
}

.filter-icon {
  color: #0065fc;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}



.filter-button {
  display: flex;
  
  border: solid 2px #f2f2f2;
  border-radius: 500px;
  background-color: white;
  
  height: 50px;
  font-size: 20px;
  margin-bottom: 12px;
  align-items: center;
  padding: 0px;
  margin-right: 10px ;

  font-weight: bolder;
}



.info {
  display: flex;
  margin-left: 20px;
  align-items: baseline;
  padding-right: 20px;

}

.info-icon {
  display: flex;
  border: solid 1px #f2f2f2;
  border-radius: 100%;
  color: #0065fc;
  align-items: center;
  height: 6px;
  padding: 10px;

  
}
.informations {
 
  margin-left: 20px;
  width: 75%;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-title {
  width: 100%;
  font-weight: bold;
  margin-bottom: 18px;
}
.footer{
  background-color: #f2f2f2;
  padding-top: 33px;
  
}
.footer-list{
  list-style-type: none;
  
}

.footer-list-title{
  font-weight: bold;
  padding-bottom: 23px;
  
}
.footer-list-element{
  padding-bottom: 15px;
}

.most-popular{

  background-color: #f2f2f2;

}

.most-popular-title{
  display:flex;
  justify-content: space-between;
  
}
.fa-chart-line{
  margin-top: 40px;
  margin-right: 20px;
  font-size: 25px;
}

.most-popular-h1{
  margin-top: 40px;
  margin-left: 21px;
}

.popular-img{
  width:127px;
  height: 130px ;
  border-radius: 15px 0px 0px 15px;
  margin-top: 5px;
  margin-left: 5px;
}
.popular-figure{
  display: flex;
  background-color: white;
  width: 95%;
  margin-left: 0;
  margin-right: 10px;
  border-radius: 15px 15px 15px 15px;
  height: 140px;
  
}
.popular-list{
  list-style-type: none;
  margin: 0;
}

.popular-fig-desc{
  margin-left: 21px;
  font-size: 12px;
  
  
}
.star-5{

  font-size: 12px;
  color: #0065fc;
  

}
.card-title{
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  
}
.card-description{
  margin-top: 0px;
  margin-bottom: 15px;
}

.star-4{
  display: flex;
}
.blue-star{
  font-size: 12px;
  color: #0065fc;
}
.grey-star{
  font-size: 12px;
  color: #d9d9d9;
}

.hebergement-figure{
  
  background-color: white;
  width: 95%;
  margin-left: 0;
  margin-right: 10px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px 1px black ;
  height: 260px;
  
}

.hebergement-img{
  width: 95%;
  height: 144px ;
  border-radius: 15px 15px 0px 0px;
  margin-top: 5px;
  margin-left: 5px;
}
.hebergement-list3{
  list-style-type: none;
}

.hebergement-fig-desc{
font-size: 12px;
margin-left: 16px;
}
.hébergement-title{
  margin-left: 20px;
}

.more-link{
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  margin-left: 20px;
}

.activity-title{
  margin-left: 20px;
}

.activity-list{
  list-style-type: none;
}

.activity-figure{
  
  background-color: white;
  width: 95%;
  margin-left: 0;
  margin-right: 10px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 1px 1px 1px black ;
  height: 200px;
  
}
.activity-img{
  width: 100%;
  height: 144px ;
  border-radius: 15px 15px 0px 0px;
  
}
