body {
  font-family: "Raleway", sans-serif;
}
footer{
  background-color: #f2f2f2;
  
}

.navbar {
  display: flex;
  flex-wrap: wrap;
}
.reserviaLogo {
  width: 95px;
  height: 60px;
  margin-left: 20px;
  margin-top: 30px;
}

.signup-link {
  font-size: 20px;
  font-weight: bold;

  text-decoration: none;

  color: #0065fc;
  padding-top: 15px;
  margin-right: 20px;
  margin-top: 35px;
}

.spacer {
  content: "";
  flex-grow: 1;
}

.first-list {
  width: 100%;
  display: flex;

  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-top: 40px;

  color: #0065fc;
}

.hebergement-list {
  font-size: 20px;
  flex-grow: 1;
  text-align: center;
  border-bottom: 3px solid #f2f2f2;
  padding-bottom: 10px;
  margin-top: 0px;
}
.hebergement-link:hover {
  border-bottom: 3px solid #0065fc;
  color: #0065fc;
  text-decoration: none;
}
.hebergement-list:hover {
  border-bottom: 3px solid #0065fc;
  color: #0065fc;
  text-decoration: none;
}
.hebergement-link {
  text-decoration: none;

  color: #000000;
}
.activités-link:hover {
  border-bottom: 3px solid #0065fc;
  color: #0065fc;
  text-decoration: none;
}
.activités-link {
  text-decoration: none;

  color: #000000;
}

.title-header {
  font-weight: bolder;
  width: 100%;
  margin-right: 65px;
  margin-left: 20px;
  font-size: 30px;
  margin-top: 40px;
}

.p-header {
  width: 100%;
  margin-right: 65px;
  margin-left: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.searchbar {
  display: flex;
  width: 95%;
  height: 50px;
  margin-left: 20px;
  margin-right: 10px;
  border: solid 1px #f2f2f2;
  margin-top: 40px;
  margin-bottom: 36px;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
}
.localisation-icon {
  background-color: #f2f2f2;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
}

.btn-search {
  background-color: #0065fc;
  border-radius: 15px 15px 15px 15px;
  border: 0px;
  width: 50px;
}

.fa-search {
  color: white;
  padding: 0px;
}

.search-imput {
  border: 0px;

  font-weight: bolder;
  font-size: 25px;
  display: flex;
  flex-grow: 2;
  text-align: center;
}

.filter-list {
  list-style: none;
  margin-left: 0;
}

.economic-button {
  display: flex;
  
  border: solid 2px #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
 
  height: 50px;
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 12px;
  align-items: center;
  font-weight: bolder;
  padding: 0px;
}

.filter-icon {
  color: #0065fc;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.family-button {
  display: flex;
  
  border: solid 2px #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  justify-content: space-between;
  height: 50px;
  font-size: 20px;
  align-items: center;
  padding: 0px;

  font-weight: bolder;
}

.romantic-button {
  display: flex;
  
  border: solid 2px #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  justify-content: space-between;
  height: 50px;
  font-size: 20px;
  margin-bottom: 12px;
  align-items: center;
  padding: 0px;
  margin-right: 10px ;

  font-weight: bolder;
}

.animals-button {
  display: flex;
  
  border: solid 2px #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  justify-content: space-between;
  height: 50px;
  font-size: 20px;
  align-items: center;
  padding: 0px;

  font-weight: bold;
}

.info {
  display: flex;
  margin-left: 20px;
  align-items: center;
  padding-right: 20px;
}

.info-icon {
  display: flex;
  border: solid 1px #f2f2f2;
  border-radius: 100%;
  color: #0065fc;
  align-items: center;
  height: 6px;
  padding: 10px;

  
}
.informations {
 
  margin-left: 20px;
  width: 75%;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
}

.filter-title {
  width: 100%;
  font-weight: bold;
  margin-bottom: 18px;
}

.footer-list{
  list-style-type: none;
  
}

.footer-list-title{
  font-weight: bold;
  padding-bottom: 23px;
}
.footer-list-element{
  padding-bottom: 15px;
}
